 
*{
    margin: auto auto;
    align-content: center;
    background-color:#E6F5F1;
}

#my_table {
    align-content: center;
    margin-top: 30px;
}

.table-title {
    height:50px;
    font-size:xx-large;
}

#curve_chart1 {
    width: 700px;
    height: 500px;
}
#curve_chart2 {
    width: 700px;
    height: 500px;
}
#curve_chart3 {
    width: 700px;
    height: 500px;
}
#curve_chart4 {
    width: 700px;
    height: 500px;
}
#curve_chart5 {
    width: 700px;
    height: 500px;
}
#curve_chart6 {
    width: 700px;
    height: 500px;
}